/*formulaire page d'accueil*/

.rest-search
{
    background-color: lighten(lightgrey, 15); 
    text-align: center;
    padding-bottom: 35px;

    &__bar-search
    {
        display: flex;
        justify-content: center;
        padding: 10px;
        background-color: lightgray;
    }

    &__bar-search i
    {
        padding-right: 12px;
        margin-left: 40px;
    }

    &__bar-search input
    {
        background-color: lightgray;
        border: 0;
        font-weight: bold;
    }

    &__heading
    {
        font-size: x-large;
        margin: 25px 45px 12px 45px;
    }

    &__paragraph
    {
        font-size: larger;
        margin: 0px 10px 30px 10px;
    }
}


/*form page de menus*/

.rest-menu
{
    margin-left: 17px;
    margin-bottom: 35px;
    
    @include little-desktop
    {
        width: 31%;   
    }

    &__heading
    {
        border-bottom: 3px solid $color-tertiary;
        width: 40px;
        text-transform: uppercase;
        font-size: 19px;
    }

    &__legend
    {
        background-color: #fff;
        margin-right: 15px;
        display: flex;
        flex-direction: column;
        border: 1px solid lighten(lightgrey, 10);
        border-radius: 15px;
        margin-bottom: 12px;
        box-shadow: 6px 6px 5px lightgray;
        padding: 8px 20px 7px 10px;
        line-height: 21px;
        animation: down 1.5s ease-in-out both;
        position: relative;

       
        &:hover > .rest-menu__card-check 
        {
            animation: check-in 600ms ease-in-out forwards;
        }

        &:hover > .space-between , &:hover > .bold
        {
            animation: slide 600ms ease-in-out forwards;
        }
        
        &:hover i 
        {
            animation: spin 0.5s linear;
        }

        & input
        {
            display: none;
        }

        @include little-desktop{
            height: 55px;
            justify-content: space-evenly;
        }
    }
}

.bold
{
    font-weight: bold;
    font-size: 16px;
    animation: slide-out 600ms ease-in-out;
}

.space-between
{
    display: flex;
    justify-content: space-between;
    animation: slide-out 600ms ease-in-out;
}

.menus
{
    @include little-desktop{
        display: flex;
        justify-content: space-between;
    }
}

.rest-menu__card-check
{
    width: 0%;
    position: absolute;
    top: 1px;
    right: -1px;
    background: $color-tertiary;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 5px 5px 0px;
    animation: check-out 400ms ease-in-out;

    & i
    {
        color: #fff;
        overflow: hidden;
        font-size: 24px;
    }
}

input[type="checkbox"].rest-menu__slide:checked + label > .rest-menu__card-check , input[type="checkbox"].rest-menu__slide:hover + label >.rest-menu__card-check
{
    animation: check-in 600ms ease-in-out forwards;
}

input[type="checkbox"].rest-menu__slide:checked + label > .space-between , input[type="checkbox"].rest-menu__slide:checked + label > .bold
{
    animation: slide 600ms ease-in-out forwards;
}

.rest-menu__slide
{display: none;}

.ellipsis
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
