.header
{
    display: flex;
    align-items: center;

    &__previous
    {
        width: 10%;
        text-align: center;
    }

    &__logo
    {
        height: 34px;
        margin-bottom: -8px;
    }
}

header h1
{
    text-align: center;
    width: 90%;
    margin-right: 10%;
}