@mixin button {
    background: linear-gradient(350deg, $color-primary, $color-secondary);
    border-radius: 25px;
    border: $color-primary;
    padding: 10px 25px;
    box-shadow: 6px 6px 5px lightgray;
    position: relative;
    z-index: 1;
}

@mixin media-tablette {
    @media screen and (min-width: map-get($breakpoints,tablette )) {
        @content;
    }
}

@mixin little-desktop {
    @media screen and (min-width: map-get($breakpoints,little-desktop)) {
        @content;
    }
}

@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints,desktop )) {
        @content;
    }
}